table, tr, td, th{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

td, th{
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

tr{
    background-color: gainsboro;
}

tr:nth-child(2){
    background-color: red;
}

tr:nth-child(even){
    background-color: blue;
}

tr:nth-child(odd){
    background-color: rgb(60, 255, 0);
}

th{
    background-color: yellow;
}

caption{
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22;
}